/* стилізація хедера */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin-right: 40px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
    color: #c79b63;
}

.header-right {
    display: flex;
}

.header-right a {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.header-right a:first-child {
    margin-left: 0;
}

.header-right a:hover {
    color: #c79b63;
}

/* стилізація для продукту на головній сорінці */
.featured-products {
    background-color: #f5f5f5;
    padding: 60px 0;
}

.featured-products h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    width: calc(25% - 20px);
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 80%;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.btn {
    display: inline-block;
}


/* стилі футера */

footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    font-size: 16px;
}

.footer-top h3 {
    margin-top: 0;
    font-size: 24px;
}

.footer-top p {
    margin-bottom: 20px;
}

.footer-top form input[type="email"] {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.footer-top form button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px;
}

.social-links a i:hover {
    color: #fbd602;
}


/* стилізація секції з сторінки колекції */

.collections {
    background-color: #fff;
    padding: 80px 0;
}

.collections h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.collections p {
    font-size: 18px;
    margin-bottom: 60px;
}

.collection-list {
    display: flex;
    flex-wrap: wrap;
}

.collection-item {
    flex-basis: calc(33.33% - 30px);
    margin-bottom: 60px;
}

.collection-item a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.collection-item img {
    width: 100%;
    margin-bottom: 15px;
}

.collection-item h3 {
    font-size: 24px;
    font-weight: 600;
}

/* стилізація сторінки корзини */

